$theme-colors: (
        "primary": rgba(137, 43, 124, 1),
        "danger": rgb(182, 36, 36),

        "light": rgba(239, 242, 245, 1),
        "dark": rgb(15, 27, 47),
);

$link-color: rgba(137, 43, 124, 1);
$input-focus-border-color: rgba(137, 43, 124, 1);
$form-check-input-checked-bg-color: rgba(137, 43, 124, 1);
$pagination-border-radius: 0;
$pagination-border-radius-sm: 0;

@import "../../public/node_modules/bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
    accent-color: #892b7c;
}

body {
    padding-bottom: 40px;
}

body.align-items {
    align-items: center;
}

a.navbar-brand {
    font-weight: 300;

    img {
        margin-right: -0.35rem;
    }
}